@media screen and (max-width: 992px) {
    .home-main-title {
        padding-top: 50px;
    }
    .call-action {
        justify-content: center;
    }
    .service-buttons a {
        font-size: 12px;
    }
    .meme > iframe {
        width: 100%;
    }
    .about-title {
        width: 100%;
        text-align: center;
    }
    .about-btn {
        margin-top: 1rem;
    }
}