* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    padding: 10px;
}
.nav-link {
    color: #000;
}
.nav-link:hover {
    color: #0d6efd;
    transition: 0.4s;
}
.cart-link {
    color: #000;
}
.service-img-title {
    padding-top: 20px;
    font-weight: 600;
}
.service-img-subtitle {
    color: gray;
}
.service-subtitle {
    color: gray;
}
.meme > iframe {
    width: 1012px;
    height: 570px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.video-count-subtitle {
    color: gray;
}
.about-title {
    width: 475px;
}
h1 {
    font-size: 48px;
}
.about-card {
    width: 18rem;
}
.covid-img {
    width: 418px;
    height: 576px;
}
.covid-top {
    text-transform: uppercase;
}
.covid > .row {
    background-color: #211F54;
    border-radius: 20px;
    color: #fff;
}
.covid-info-btn {
    margin-bottom: 1rem;
}
.plan-img {
    height: 540px;
    width: 500px;
}
.text-secondary {
    color: gray;
}
.tick-icon {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 24px;
    background-color: #EDF5FF;
    border: none;
}
.plan-list p {
    font-weight: 700;
}
.com-status-subtitle-first {
    color: gray;
    font-size: 20px;
}
.com-status-subtitle-second {
    color: gray;
    font-size: 14px;
}

.com-status-main-count {
    font-size: 50px;
}

.com-status-date-count {
    color: gray;
}