* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    padding: 11px;

}
.nav-link {
    color: #000;

}
.nav-link:hover {
    transition: 0.5;
    color: blue;
}
.card-link {
    color: #000;
}
.service-image-title {
    padding-top: 20px;
    font-weight: 600;
}
.service-image-subtitle {
    color: gray;
}
.service-subtitle {
    color: gray;
}